<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Sample</title>
</head>
<body>
    <h1>Hello{{#username}}, {{username}}{{/username}}{{^username}}, World{{/username}}!</h1>
</body>
</html>