<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please Log In</title>
</head>
<body>
<div class="container">
    <a th:href="@{/admin/}">Admin Page</a>
    <form method="post"
          th:action="@{/logout}">

        <button type="submit">Log Out</button>
    </form>
</div>
</body>
</html>